.card {
  margin: 0;
  list-style-type: none;
  position: relative;
  border: 2.5px solid #00000080;
  border-radius: 8px;
  padding: 20px;
  background-color: #e9e8e8;
}

.card:hover {
  border: 2px solid #00000050;
  cursor: pointer;
  background-color: #d3d2d2;
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: none;
  display: block;
}

.card__title {
  margin: 0;
  font-size: 26px;
  line-height: 1;
  padding: 25px 20px 0;
  text-align: center;
  text-transform: capitalize;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent url(../images/delete-icon.svg) center no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 0.7;
}

.card__delete-btn:hover {
  background: transparent url(../images/delete-icon_hover.svg) center no-repeat;
  background-size: contain;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0;
}

.card__save-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: transparent url(../images/save-icon.svg) center no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 0.7;
}

.card__save-btn:hover {
  background: transparent url(../images/save-icon_hover.svg) center no-repeat;
  background-size: contain;
}

.card__save-btn_saved {
  background: transparent url(../images/save-icon_saved.svg) center no-repeat;
  background-size: contain;
  opacity: 1;
}

.card__save-btn_saved:hover {
  opacity: 0.5;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    margin: 0 auto;
  }
  .card__image {
    width: 20px;
    height: 20px;
  }
  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 260px;
  }
  .card__save-btn {
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
