.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 40px;
  padding: 40px 0;
  border-bottom: 1px solid #21212166;
  justify-content: center;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .cards {
    grid-template-columns: repeat(auto-fit, 288px);
    margin: 0 auto;
    gap: 20px;
    padding-bottom: 20px;
  }
}
