.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.header__logo {
  width: 70px;
  height: fit-content;
}

.header__title {
  font-family: "Bevan", Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin: 0;
  padding-left: 20px;
  line-height: 1;
  color: #393939;
}

.header__add-btn {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  opacity: 0.7;
}

.header__add-btn:hover {
  background: transparent url(../images/add-icon_hover.svg) center no-repeat;
  background-size: contain;
  border: none;
  padding: 0;
  cursor: pointer;
}
